<h1 mat-dialog-title i18n="@@shiftFormTitle">Manage Shift</h1>
<div mat-dialog-content>
  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">

    <!-- Assign Shift -->
    <mat-tab i18n-label="@@shiftFormTabAssign" label="Assign Shift">
      <form [formGroup]="templateShiftForm" class="shift-form">
        <mat-form-field>
          <mat-label i18n="@@formLabelRole">Role</mat-label>
          <mat-select formControlName="roleId">
            <mat-option *ngFor="let role of rolesList" [value]="role.id">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label i18n="@@formLabelShiftTemplate">Shift Template</mat-label>
          <mat-select formControlName="shiftTemplateId">
            <mat-option *ngFor="let template of templatesList" [value]="template.id">{{ template.name }}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-tab>

    <!-- Custom Shift -->
    <mat-tab i18n-label="@@shiftFormTabCustom" label="Custom Shift">
      <form [formGroup]="customShiftForm" class="shift-form">
        <mat-form-field>
          <mat-label i18n="@@formLabelRole">Role</mat-label>
          <mat-select formControlName="roleId">
            <mat-option *ngFor="let role of rolesList" [value]="role.id">{{ role.name }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- 24h mode -->
        <div *ngIf="!is12h" class="custom-time-inputs">
          <mat-form-field>
            <mat-label i18n="@@formLabelCustomStart">Custom Start (Hour)</mat-label>
            <mat-select formControlName="customStartHour">
              <mat-option value="00">00</mat-option><mat-option value="01">01</mat-option><mat-option value="02">02</mat-option><mat-option value="03">03</mat-option>
              <mat-option value="04">04</mat-option><mat-option value="05">05</mat-option><mat-option value="06">06</mat-option><mat-option value="07">07</mat-option>
              <mat-option value="08">08</mat-option><mat-option value="09">09</mat-option><mat-option value="10">10</mat-option><mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option><mat-option value="13">13</mat-option><mat-option value="14">14</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="16">16</mat-option><mat-option value="17">17</mat-option><mat-option value="18">18</mat-option><mat-option value="19">19</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="21">21</mat-option><mat-option value="22">22</mat-option><mat-option value="23">23</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n="@@formLabelMinutes">Minutes</mat-label>
            <mat-select formControlName="customStartMinute">
              <mat-option value="00">00</mat-option><mat-option value="05">05</mat-option><mat-option value="10">10</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="25">25</mat-option><mat-option value="30">30</mat-option><mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option><mat-option value="45">45</mat-option><mat-option value="50">50</mat-option><mat-option value="55">55</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- 12h mode -->
        <div *ngIf="is12h" class="custom-time-inputs">
          <mat-form-field>
            <mat-label i18n="@@formLabelCustomStart">Custom Start (Hour)</mat-label>
            <mat-select formControlName="customStartHour">
              <mat-option value="01">01</mat-option><mat-option value="02">02</mat-option><mat-option value="03">03</mat-option><mat-option value="04">04</mat-option>
              <mat-option value="05">05</mat-option><mat-option value="06">06</mat-option><mat-option value="07">07</mat-option><mat-option value="08">08</mat-option>
              <mat-option value="09">09</mat-option><mat-option value="10">10</mat-option><mat-option value="11">11</mat-option><mat-option value="12">12</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n="@@formLabelMinutes">Minutes</mat-label>
            <mat-select formControlName="customStartMinute">
              <mat-option value="00">00</mat-option><mat-option value="05">05</mat-option><mat-option value="10">10</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="25">25</mat-option><mat-option value="30">30</mat-option><mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option><mat-option value="45">45</mat-option><mat-option value="50">50</mat-option><mat-option value="55">55</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>AM/PM</mat-label>
            <mat-select formControlName="customStartPeriod">
              <mat-option value="AM">AM</mat-option><mat-option value="PM">PM</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- End time (same pattern) -->
        <div *ngIf="!is12h" class="custom-time-inputs">
          <mat-form-field>
            <mat-label i18n="@@formLabelCustomEnd">Custom End (Hour)</mat-label>
            <mat-select formControlName="customEndHour">
              <mat-option value="00">00</mat-option><mat-option value="01">01</mat-option><mat-option value="02">02</mat-option><mat-option value="03">03</mat-option>
              <mat-option value="04">04</mat-option><mat-option value="05">05</mat-option><mat-option value="06">06</mat-option><mat-option value="07">07</mat-option>
              <mat-option value="08">08</mat-option><mat-option value="09">09</mat-option><mat-option value="10">10</mat-option><mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option><mat-option value="13">13</mat-option><mat-option value="14">14</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="16">16</mat-option><mat-option value="17">17</mat-option><mat-option value="18">18</mat-option><mat-option value="19">19</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="21">21</mat-option><mat-option value="22">22</mat-option><mat-option value="23">23</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n="@@formLabelMinutes">Minutes</mat-label>
            <mat-select formControlName="customEndMinute">
              <mat-option value="00">00</mat-option><mat-option value="05">05</mat-option><mat-option value="10">10</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="25">25</mat-option><mat-option value="30">30</mat-option><mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option><mat-option value="45">45</mat-option><mat-option value="50">50</mat-option><mat-option value="55">55</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div *ngIf="is12h" class="custom-time-inputs">
          <mat-form-field>
            <mat-label i18n="@@formLabelCustomEnd">Custom End (Hour)</mat-label>
            <mat-select formControlName="customEndHour">
              <mat-option value="01">01</mat-option><mat-option value="02">02</mat-option><mat-option value="03">03</mat-option><mat-option value="04">04</mat-option>
              <mat-option value="05">05</mat-option><mat-option value="06">06</mat-option><mat-option value="07">07</mat-option><mat-option value="08">08</mat-option>
              <mat-option value="09">09</mat-option><mat-option value="10">10</mat-option><mat-option value="11">11</mat-option><mat-option value="12">12</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label i18n="@@formLabelMinutes">Minutes</mat-label>
            <mat-select formControlName="customEndMinute">
              <mat-option value="00">00</mat-option><mat-option value="05">05</mat-option><mat-option value="10">10</mat-option><mat-option value="15">15</mat-option>
              <mat-option value="20">20</mat-option><mat-option value="25">25</mat-option><mat-option value="30">30</mat-option><mat-option value="35">35</mat-option>
              <mat-option value="40">40</mat-option><mat-option value="45">45</mat-option><mat-option value="50">50</mat-option><mat-option value="55">55</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>AM/PM</mat-label>
            <mat-select formControlName="customEndPeriod">
              <mat-option value="AM">AM</mat-option><mat-option value="PM">PM</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </mat-tab>

    <!-- Time Off -->
    <mat-tab i18n-label="@@shiftFormTabTimeOff" label="Time Off">
      <form [formGroup]="timeOffForm" class="shift-form">
        <mat-form-field>
          <mat-label i18n="@@formLabelReason">Reason</mat-label>
          <input matInput formControlName="reason">
        </mat-form-field>
      </form>
    </mat-tab>

  </mat-tab-group>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" i18n="@@dialogCancelButton">Cancel</button>
  <button mat-flat-button color="primary" (click)="save()" [disabled]="isSaveDisabled()" i18n="@@formSaveButton">Save</button>
</div>
