<div class="roles-container">
    <mat-card class="list-card">
        <mat-card-header>
            <mat-card-title i18n="@@rolesTitle">Roles</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                @for(role of (roles$ | async); track role.id){
                <mat-list-item (click)="selectRole(role)">
                    <div matListItemTitle>{{ role.name }}</div>
                    <div matListItemLine [style.color]="role.color" i18n="@@rolesListColorLabel">Color: {{ role.color }}
                    </div>
                </mat-list-item>
                }
            </mat-list>
        </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
        <mat-card-header>
            <mat-card-title>{{ (selectedRole$ | async) ? 'Edit Role' : 'Add New Role' }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="roleForm" class="role-form">
                <mat-form-field>
                    <mat-label i18n="@@formLabelName">Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field>
                    <mat-label i18n="@@formLabelDepartment">Department</mat-label>
                    <mat-select formControlName="departmentId">
                        @for(dept of (departments$ | async); track dept.id){
                        <mat-option [value]="dept.id">{{ dept.name }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <div class="color-picker">
                    <mat-label i18n="@@formLabelColor">Color</mat-label>
                    <div class="color-input-wrapper">
                        <input matInput formControlName="color" #colorInput>
                        <div class="color-preview" [style.backgroundColor]="colorInput.value"
                            (click)="colorPicker.click()"></div>
                        <input type="color" #colorPicker [value]="colorInput.value"
                            (input)="updateColor(colorInput, $event)">
                    </div>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="saveRole()" [disabled]="roleForm.invalid"
                i18n="@@formSaveButton">Save</button>
            <button mat-button (click)="clearSelection()" i18n="@@formCancelButton">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>