<h1 mat-dialog-title i18n="@@employeeFormTitle">{{ data.employee ? 'Edit Employee' : 'Add New Employee' }}</h1>
<div mat-dialog-content>
    <form [formGroup]="employeeForm" class="employee-form">
        <mat-form-field>
            <mat-label i18n="@@formLabelDisplayName">Display Name</mat-label>
            <input matInput formControlName="displayName">
        </mat-form-field>

        <mat-form-field>
            <mat-label i18n="@@formLabelFirstName">First Name</mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
            <mat-label i18n="@@formLabelLastName">Last Name</mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>

        <mat-form-field>
            <mat-label i18n="@@formLabelEmail">Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label i18n="@@formLabelPhone">Phone Number</mat-label>
            <input matInput formControlName="phone">
        </mat-form-field>

        <mat-form-field>
            <mat-label i18n="@@formLabelDepartment">Department</mat-label>
            <mat-select formControlName="departmentId">
                @for(dept of (departments$ | async); track dept.id){
                <mat-option [value]="dept.id">{{ dept.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()" i18n="@@dialogCancelButton">Cancel</button>
    <button mat-flat-button color="primary" (click)="save()" [disabled]="employeeForm.invalid"
        i18n="@@formSaveButton">Save</button>
</div>